 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Sora;
  font-weight: 500;
  letter-spacing: 1px;
  width: 841px;
  margin: 55px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 574px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-1 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-2 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-3 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-7 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-4 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-8 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-9 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-5 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-5 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-10 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-11 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-6 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-6 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 40px auto 0 30px;
  padding: 19px;
}

.u-section-1 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-13 {
  margin: 17px 31px 0 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 40px auto 60px;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 473px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 815px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 235px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 31px auto 0;
  padding: 12px 48px 13px 46px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 259px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 595px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 454px;
}